// Containers
.centered-container {
  @include mq(medium) {
    margin: 0 auto;
    padding: 0;
    max-width: 85%;
  }
  @include mq(large) {
    max-width: 65%;
  }
}

%padded-container {
  @include mq('small') {
    padding: 0 6%;
  }
}

// Display
.hidden {
  display: none;
}

// Colors
.selected {
  color: $sea-green;
}

// Decoration
.line-dec {
  width: 3em;
  height: 2px;
  background-color: $black;
}