// * Mixins

// * BEM Selectors

@mixin e($element) {
  &__#{$element} {
    @content;
  }
}

@mixin m($modifier) {
  &--#{$modifier} {
    @content;
  }
}

// * Grids

@mixin g-row($just: space-between) {
  display: flex;
  flex-wrap: wrap;
  justify-content: $just;
}

@mixin g-col($align-i: center) {
  display: flex;
  flex-direction: column;
  align-items: $align-i;
}

// * Media Queries

@mixin mq($breakpt) {

  @if $breakpt == 'small' {
    @media (min-width: $break-sm) and (max-width: $break-md) {
      @content;
    }
  } @else if $breakpt == 'medium' {
    @media (min-width: $break-md + 1) {
      @content;
    }
  } @else if $breakpt == 'large' {
    @media (min-width: $break-lg) {
      @content;
    }
  } @else {
    @error '`#{$breakpt}` is not a valid breakpoint.'
  }
}

// * Transitions

@mixin trans($prop, $dur: 0.2s, $effect: ease-in-out) {
  transition: $dur $prop $effect;
}

// * Text Spacing

@mixin text-spacing($letter-spacing: 4px, $word-spacing: 4px) {
  letter-spacing: $letter-spacing;
  word-spacing: $word-spacing;
}

// * Buttons
@mixin btn--primary {
  background-color: $color--primary;
  color: $color--secondary;
  border: 2px solid $color--primary;
  transition: all 0.2s ease-in-out;
  padding: 0.45em 0.7em;
  &:hover {
    color: $color--primary;
    background-color: transparent;
    border-color: $color--primary;
    cursor: pointer;
  }
}

@mixin btn--secondary {
  background-color: $btn--secondary;
  color: $color--secondary;
  border: 2px solid $btn--secondary;
  transition: all 0.2s ease-in-out;
  padding: 0.45em 0.7em;
  &:hover {
    background-color: darken($btn--secondary, 10%);
    border-color: darken($btn--secondary, 10%);
    cursor: pointer;
  }
}