
*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  font-size: $base__font-size;
}

html {
  box-sizing: border-box;
}

body {
  font-family: $font-family--primary;
  font-weight: $font-weight--reg;
  line-height: $base__line-height;
  color: $color--primary;
  background-color: $color--secondary;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}