.contact-section {
  background-color: $sea-green;
  padding-top: 2em;
  @extend %padded-container;
  @include mq(medium) {
    padding-top: 5em;
  }

  h2 {
    margin: 0.5em 0 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: $font-weight--x-bold;
  }

  a,
  p {
    margin: 0;
  }

  a,
  a:visited {
    color: $black;
  }
}

.contact-wrap {
  @include mq(medium) {
    @include g-row;
    @at-root {
      // flex styles for lg displays
      & > * {
        flex-basis: 50%;
      }

      .contact-wrap h2 {
        min-width: 100%;
        margin-bottom: -250px !important;
      }

      .line-dec {
        flex-basis: 2em;
      }
    }
  }
}

.contact-info {
  address {
    font-style: normal;
    margin: 2em 0;

    @include mq(medium) {
      padding-top: 3em;
    }
  }

  .email {
    display: block;
    margin: 2em 0;
  }
}

.contact-form {

  input,
  textarea {
    border: 2px solid $black;
    width: 100%;
    color: $gray;
    padding: 0.4em;
    background-color: transparent;
  }

  > *::placeholder {
    color: $gray;
  }

  input {
    margin-bottom: 0.5em;
  }

  button {
    margin-top: 1em;
    width: 8em;
    @include btn--primary;
    // btn alignment for lg displays
    @include mq(medium) {
      float: right;
      clear: right;
    }
  }
}

.social-icons {
  @include g-row;
  justify-content: flex-start;
  @include mq(small) {
    margin-top: 4em;
  }
  @include mq(medium) {
    margin-top: -80px;
  }

  .social-icon {
    display: inline-block;
  }

  :not(:last-child) {
    margin-right: 1em;
  }
  
  .twitter {
    @include social-link(twitter, 26px);
  }
  
  .facebook {
    @include social-link(facebook, 26px);
  }
  
  .google {
    @include social-link(google, 26px);
  }
  
  .instagram {
    @include social-link(instagram, 26px);
  }
  
  .youtube {
    @include social-link(youtube, 26px);
  }
}



// may be a way to use sass functions to get rid of site specific classes