.main-footer {
  font-size: 0.9rem;
  background-color: $sea-green;
  @extend %padded-container;

  p {
    margin: 0;
    padding: 1em 0;
    @include mq(medium) {
      padding: 2em 0;
    }
  }

  a,
  a:visited {
    color: $black;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: $white;
    }
  }
}