nav {
  .nav-btn--mobile {
    height: 32px;
    width: 32px;
    margin-top: 1em;
  }

  .site-nav--md {
    align-self: center;
    @include mq(medium) {
      @include g-row;

      a {
        padding: 0.5em;
      }

      li:not(:first-child) {
        margin-left: 1em;
      }
    }
  }

  @include mq(medium) {
    @include g-row;
  }
}
