nav {
  .nav-btn--mobile {
    height: 32px;
    width: 32px;
    margin-top: 1em;

    @include mq(small) {
      z-index: 10000;
      position: absolute;
      top: 2em;
      right: 6%;
    }
  }

  .site-nav--sm {
    font-size: 2.5rem;
    z-index: 100;
    background-color: $white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    padding-top: 2em;
    text-align: center;
    @include mq(medium) {
      display: none;
    }
  }

  .site-nav--md {
    align-self: center;
    @include mq(medium) {
      @include g-row;

      a {
        padding: 0.5em;
      }

      li:not(:first-child) {
        margin-left: 1em;
      }
    }
  }

  @include mq(medium) {
    @include g-row;
  }
}
